<h2>Adaugă un nou serviciu medical</h2>

<mat-stepper headerPosition="bottom" #stepper>
  <mat-step>
    <ng-template matStepLabel>Adaugă denumirea serviciului</ng-template>
    <form>
      <mat-form-field>
        <input matInput placeholder="Denumire" name="firstCtrl" [(ngModel)]="firstCtrl" required>
        <mat-error *ngIf="!firstCtrl">Numele serviciului este obligatoriu</mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext [disabled]="!firstCtrl">Mai departe</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Adaugă prețul serviciului și moneda</ng-template>
    <form>
      <mat-form-field>
        <input matInput placeholder="Preț" name="secondCtrl" [(ngModel)]="secondCtrl" type="number" required>
        <mat-error *ngIf="!secondCtrl">Prețul serviciului este obligatoriu</mat-error>
      </mat-form-field>
      <div>
        <mat-form-field>
          <mat-label>Moneda</mat-label>
          <select matNativeControl name="moneda" [(ngModel)]="moneda" required>
            <option value="RON">RON</option>
            <option value="EUR">EUR</option>
            <option value="USD">USD</option>
          </select>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperPrevious>Inapoi</button>
        <button mat-button matStepperNext [disabled]="!secondCtrl">Mai departe</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Finalizare</ng-template>
    Ai completat toate câmpurile.
    <div>
      <button mat-button matStepperPrevious>Inapoi</button>
      <button mat-button (click)="saveMedicalOperation()">Salvează</button>
    </div>
  </mat-step>
</mat-stepper>
