<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <h2 class="text-center mb-4">Contactează-ne</h2>
        <form>
          <div class="form-group">
            <label for="name">Nume</label>
            <input type="text" id="name" class="form-control" placeholder="Numele tău">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control" placeholder="Adresa ta de email">
          </div>
          <div class="form-group">
            <label for="message">Mesaj</label>
            <textarea id="message" class="form-control" rows="5" placeholder="Mesajul tău"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">
            <mat-icon>send</mat-icon>
            Trimite
          </button>
        </form>
      </div>
      <div class="col-md-4 mx-auto">
        <h2 class="text-center mb-4">Informații de Contact</h2>
        <ul class="list-unstyled">
          <li>
            <mat-icon>location_on</mat-icon>
            Adresa noastră: Strada Filaret Barbu 19, Timișoara
          </li>
          <li>
            <mat-icon>phone</mat-icon>
            Telefon: +40 1234 123
          </li>
          <li>
            <mat-icon>email</mat-icon>
            Email: luyza1032002&#64;gmail.com
          </li>
        </ul>
        <div class="logo-container">
          <img src="../../assets/logo.png" alt="Logo companie" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="text-center py-4">
  <p>&copy; 2024 ZYMinds. Toate drepturile rezervate.</p>
</footer>
